<footer id="footer">
<a class="anchor" id="fo"></a>
	<link rel="stylesheet" href="assets/css/fontawesome_all.css"/>
	<link rel="stylesheet" href="assets/css/academicons.min.css"/>
	<div class="container">
		<ul class="copyright">
			<li>
				Design by<br>
				Daniel Viviroli<br>
				CC BY-NC-SA<br>
				<br>
				<a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
					<i class="fab fa-creative-commons fa-lg"></i>
					<i class="fab fa-creative-commons-by fa-lg"></i>
					<i class="fab fa-creative-commons-nc fa-lg"></i>
					<i class="fab fa-creative-commons-sa fa-lg"></i>
				</a>
			</li>
			<li>
				Images by<br>
				Daniel Viviroli<br>
				All rights reserved<br>
				<br>
				<i class="far fa-copyright fa-lg"></i>
			</li>
			<li style="text-align:left">
					<i class="fas fa-home fa-sm"></i>
					<a target="_blank" rel="noopener noreferrer" href="http://www.geo.uzh.ch/en/units/h2k">department text</a><br>
					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
					text<br>
					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
					University of Person<br>
					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
					address text<br>
					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
					country text<br>
			</li>
			<li style="text-align:left">
					<a target="_blank" rel="noopener noreferrer" href="mailto:daniel.viviroli@geo.uzh.ch"><i class="far fa-envelope fa-sm"></i> contact text</a><br>
					<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/danielviviroli"><i class="fab fa-twitter fa-am"></i> @twitter</a><br>
					<br>
					<br>
					<br>
			</li>
		</ul>
	</div>
</footer>
