<header id="header" class={{ page.navtype }}>
  {% if page.navtype != "alt" %}
    <h1><a href="/index.html">IEC-UFES</a></h1>
  {% else %}
    <h1>IEC-UFES</h1>
  {% endif %}
  <nav id="nav">
    <ul>
      {% for entry in site.data.navigation %}
        <li{{ current }}><a href="{{ entry.url }}">{{ entry.title }}</a>
        {% if entry.sub_n %}
          <ul>
            <!-- need rather awkward way to check whether "preprints" nees to be excluded if corresponding yaml is not present -->
            {% if entry.title == "Publications" %}
              {% if site.data.publications_papers-preprints %}
                {% assign i_start = 1 %}
              {% else %}
                {% assign i_start = 2 %}
              {% endif %}
            {% else %}
              {% assign i_start = 1 %}
            {% endif %}
            {% for sub_i in ({{i_start}}..{{entry.sub_n}}) %}
              {% capture dropdown_link %}sub{{sub_i}}_anchor{% endcapture %}
              {% capture dropdown_text %}sub{{sub_i}}_text{% endcapture %}
              <a href={{ entry.url }}#{{ entry.[dropdown_link] }}>{{ entry.[dropdown_text] }}</a>
              {% if sub_i < {{entry.sub_n}} %}<br>{% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
