
{% if publication.pdf %}
  <br>
  <span style="display:block; height:0.50em;"></span>
    > <a target="_blank" rel="noopener noreferrer" href={{ publication.pdf }}>Download pdf</a>
    {% if publication.pdf_openaccess %}
      <div class="tooltip">
        <i class="ai ai-open-access"></i>
        <span class="tooltiptext">Open access</span>
      </div>
    {% endif %}
{% endif %}

{% if publication.notes %}
  <br>
  <span style="display:block; height:0.50em;"></span>
  <font color="crimson">
    > {{ publication.notes }}
  </font>
{% endif %}

{% if publication.link %}
  <br>
  <span style="display:block; height:0.50em;"></span>
  > <a target="_blank" rel="noopener noreferrer" href={{ publication.link }}>{{ publication.link_text }}</a>
  {% if publication.link_openaccess %}
    <div class="tooltip">
      <i class="ai ai-open-access"></i>
      <span class="tooltiptext">Open access</span>
    </div>
  {% endif %}
{% endif %}
